@{

}
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ASP</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <!-- Additional CSS Files -->
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />

    <link id="default-css" rel="stylesheet" href="~/style.css" type="text/css" media="all" />

    <link href="~/css/animations.css" rel="stylesheet" type="text/css" media="all" />
    <link id="shortcodes-css" href="~/css/shortcodes.css" rel="stylesheet" type="text/css" media="all" />
    <link id="skin-css" href="~/skins/red/style.css" rel="stylesheet" media="all" />
    <link href="~/css/isotope.css" rel="stylesheet" type="text/css" media="all" />
    <link href="~/css/prettyPhoto.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/css/responsive.css" type="text/css" media="all" />
    <link id="light-dark-css" href="~/dark/dark.css" rel="stylesheet" media="all" />

    <link rel="stylesheet" href="~/css/font-awesome.min.css" type="text/css" />
    @* <script src="~/js/modernizr.js"></script> *@
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link rel="stylesheet" href="~/css/noti.css" type="text/css" />
    <link rel="stylesheet" href="~/css/post.css" type="text/css" />
</head>
<body>
    @using Newtonsoft.Json;
    @inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
    @{
        var userName = HttpContextAccessor.HttpContext.Session.GetString("UserEmail");
        var userId = HttpContextAccessor.HttpContext.Session.GetString("UserId");
        string serializedList = HttpContextAccessor.HttpContext.Session.GetString("MyListSessionKey");
        List<GetUsetNotification> listNoti = null;

        if (serializedList != null)
        {
            listNoti = JsonConvert.DeserializeObject<List<GetUsetNotification>>(serializedList);
        }
    }

    <div class="loader-wrapper">
    </div>
    <div class="wrapper">
        <div class="inner-wrapper">
            <div id="header-wrapper" class="dt-sticky-menu">
                <div id="header" class="header">
                    <div class="container menu-container">
                        <a class="logo" href="/Home/Index"><img alt="Logo" src="~/images/logo.png" width="200" height="55"></a>
                        <div class="notification" style="float:right;">
                            <a href="@Url.Action("Index", "Notification", new { id = userId})">
                                <div class="notBtn">
                                    <div class="number" style="width:35px; height:35px"></div>
                                    <img src="~/images/notification.png" width="50px" alt="Alternate Text" />
                                    <div class="box">
                                        <div class="display">
                                            <div class="nothing">
                                                <i class="fas fa-child stick"></i>
                                                <div class="cent">Looks Like you're all caught up!</div>
                                            </div>
                                            <div class="cont" id="notificationContainer">

                                                <!-- Notifications will be dynamically added here -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <a href="#" class="menu-trigger">
                            <span></span>
                        </a>
                    </div>
                </div>


                <nav id="main-menu">
                    <div id="dt-menu-toggle" class="dt-menu-toggle">
                        Menu
                        <span class="dt-menu-toggle-icon"></span>
                    </div>
                    <ul class="menu type1">
                        <li class="current_page_item menu-item-simple-parent">
                            <a href="/Home/Index">Home <span class="fa fa-home"></span></a>
                            @* <ul class="sub-menu">
                            <li class="current_page_item"><a href="http://www.wedesignthemes.com/html/redart/default">Default</a></li>
                            <li><a href="http://www.wedesignthemes.com/html/redart/menu-overlay">Menu Overlay</a></li>
                            <li><a href="http://www.wedesignthemes.com/html/redart/slide-bar">Slide Bar</a></li>
                            <li><a href="http://www.wedesignthemes.com/html/redart/slider-over-menu">Slider Over Menu</a></li>
                            </ul>
                            <a class="dt-menu-expand">+</a>*@
                        </li>
                        <li class="menu-item-simple-parent">
                            <a href="/Package/Index">Package<span class="fa fa-user-secret"></span></a>
                        </li>
                        @*                         <li class="menu-item-simple-parent">
                        <a href="gallery.html">gallery <span class="fa fa-camera-retro"></span></a>
                        <ul class="sub-menu">
                        <li><a href="gallery-detail.html">gallery detail</a></li>
                        <li><a href="gallery-detail-with-lhs.html">gallery-detail-left-sidebar</a></li>
                        <li><a href="gallery-detail-with-rhs.html">gallery-detail-right-sidebar</a></li>
                        </ul>
                        <a class="dt-menu-expand">+</a>
                        </li>
                        *@
                        <li class="menu-item-simple-parent">
                            <a href="/Shop/Index">Shop <span class="fa fa-cart-plus"></span></a>
                            @* <ul class="sub-menu">
                            <li><a href="shop-detail.html">Shop Detail</a></li>
                            <li><a href="/Cart">Cart Page</a></li>
                            <li><a href="shop-checkout.html">Checkout Page</a></li>
                            </ul> *@
                            <a class="dt-menu-expand">+</a>
                        </li>
                        <li class="menu-item-simple-parent">
                            <a href="blog.html">Blog <span class="fa fa-pencil-square-o"></span></a>
                            <ul class="sub-menu">
                                <li><a href="@Url.Action("Index","PostArtwork")">Blog detail</a></li>
                                <li><a href="blog-detail-with-lhs.html">Blog-detail-left-sidebar</a></li>
                                @*                                 <li><a href="@Url.Action("Index", "UserNotifcation", new { id = "1932234f-af4a-45e5-b8d9-b613d2dfbb5d"})">Notification</a></li> *@
                            </ul>
                            <a class="dt-menu-expand">+</a>
                        </li>
                        @if (userName != null)
                        {
                            @*                          <li class="menu-item-simple-parent">
                        <p>Hello @userName!</p>
                        </li>
                        <li class="menu-item-simple-parent">
                        <p>User ID @userId!</p>
                        </li> *@
                            <li class="menu-item-simple-parent">
                                <a href="/User/Login">Login<span class="fa fa-pencil-square-o"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="#">Hello @userName!</a></li>
                                    <li><a href="#">User ID @userId!</a></li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            @*                          <li class="menu-item-simple-parent">
                        <a href="/User/Login">Login<span class="fa fa-pencil-square-o"></span></a>
                        </li>
                        <li class="menu-item-simple-parent">
                        <a href="/User/Register">Register<span class="fa fa-map-marker"></span></a>
                        </li> *@
                            <li class="menu-item-simple-parent">
                                <a href="/User/Login">Login<span class="fa fa-pencil-square-o"></span></a>
                                <ul class="sub-menu">
                                    <li><a href="/User/Login">Login</a></li>
                                    <li><a href="/User/Register">Register</a></li>
                                </ul>
                            </li>
                        }
                        <li class="menu-item-simple-parent">

                        </li>
                        <li class="menu-item-simple-parent">
                            <a href="progressbar.html">shortcodes <span class="fa fa-paint-brush"></span></a>
                            <ul class="sub-menu">
                                <li><a href="progressbar.html"> Progress-bar </a></li>
                                <li><a href="buttons.html"> Buttons Page </a></li>
                                <li><a href="tabs.html"> tabs-accordions </a></li>
                                <li><a href="typography.html"> typography </a></li>
                                <li><a href="columns.html"> columns </a></li>
                            </ul>
                            <a class="dt-menu-expand">+</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="slider-container" id="slider-container">
                <div class="slider fullwidth-section parallax"></div>
            </div>
            <div id="main">
                @*                  <div class="container full">
                <main role="main" class="">
                @RenderBody()
                @RenderSection("Scripts", required: false)
                </main>
                </div> *@

                @RenderBody()
                @RenderSection("Scripts", required: false)
                <footer id="footer" class="animate" data-animation="fadeIn" data-delay="100">
                    <div class="container">
                        <div class="copyright">
                            <ul class="footer-links">
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Privacy policy</a></li>
                                <li><a href="#">Terms of use</a></li>
                                <li><a href="#">Faq</a></li>
                            </ul>
                            <ul class="payment-options">
                                <li><a href="#" class="fa fa-cc-amex"></a></li>
                                <li><a href="#" class="fa fa-cc-mastercard"></a></li>
                                <li><a href="#" class="fa fa-cc-visa"></a></li>
                                <li><a href="#" class="fa fa-cc-discover"></a></li>
                                <li><a href="#" class="fa fa-cc-paypal"></a></li>
                            </ul>
                            <p>© 2015 <a href="#">RED ART</a>. All rights reserved.</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="~/js/jquery-1.11.2.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/jquery.isotope.min.js"></script>
    <script src="~/js/jquery.prettyPhoto.js" type="text/javascript"></script>
    <script src="~/js/jquery.tipTip.minified.js" type="text/javascript"></script>
    <script src="~/js/custom.js"></script>
    <script src="~/js/jsplugins.js" type="text/javascript"></script>
    <script src="/js/post.js" type="text/javascript"></script>

    <script src="~/js/jquery.inview.js" type="text/javascript"></script>
    <script src="~/js/jquery.viewport.js" type="text/javascript"></script>
    <script src="~/js/jquery.validate.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/js/jquery.bxslider.min.js"></script>
    @*     <script>
    $.ajax({
    type: "GET",
    url: "/UserNotifcation/GetNotify",
    data: { id : '9f912cd2-aac1-4c5a-94ca-25017964557e' },
    success: function (data) {
    console.log(data);
    }
    });
    </script> *@

    <script>
        $.ajax({
            type: "GET",
            url: "/UserNotifcation/GetNotify",
            data: { id: '@userId' },
            success: function (data) {
                console.log(data);
                var userNotifications = JSON.parse(data);
                var notificationContainer = $("#notificationContainer");
                var unreadCount = 0;
                userNotifications.forEach(function (notification) {
                    var anchor = $("<a>").attr("href", "#");
                    if (!notification.isRead) {
                        unreadCount++;
                        var profileImage = $("<img>").addClass("profilenoti").attr("src", notification.artwordUrl);
                        profileImage.css("margin-left", "15px");
                        var txtDiv = $("<div>").addClass("txt").text("Artwork Title: " + notification.artworkTitle);
                        var subTxtDiv = $("<div>").addClass("txt sub").text("Notification Title: " + notification.notificationTitle);
                        anchor.append(profileImage).append(txtDiv).append(subTxtDiv);
                        var notificationItem = $("<div>").addClass("sec new");
                        notificationItem.append(anchor);
                        notificationContainer.append(notificationItem);
                    }

                    $(".number").text(unreadCount);

                    // if (unreadCount === 0) {
                    //     $(".number").hide();
                    // }
                });
            }
        });
    </script>
</body>
</html>


