@model List<CartItemModel>

	<style>
	#checkoutButtonDisable.disabled {
		pointer-events: none; /* Disable pointer events */
		opacity: 0.5; /* Reduce opacity to visually indicate it's disabled */
	}
	</style>

<div class="breadcrumb">
	<div class="container">
		<h2>Shop <span>Cart</span></h2>
		<div class="user-summary">
			<div class="account-links">
				<a href="#">My Account</a>
				<a href="#">Checkout</a>
			</div>
			<div class="cart-count">
				<a href="#">Shopping Bag: 0 items</a>
				<a href="#">($0.00)</a>
			</div>
		</div>
	</div>
</div>
<section id="primary" class="content-full-width">
	<div class="container" id="cartContainer">
		<div class="woocommerce">
			@if(Model != null)
			{
				@if (Model.Count == 0)
				{
					<h2>No item in cart!</h2>
				}
				else
				{
					<form asp-controller="Shop" asp-action="Index" method="get">
						<table class="shop_table cart">
							<thead>
								<tr>
									<th class="product-thumbnail" style="width:170px;">Image</th>
									<th class="product-name">Name</th>
									<th class="product-price">Price</th>
									<th class="product-subtotal">Status</th>
									<th class="product-subtotal" style="width:207px;"></th>
									<th class="product-remove"></th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr class="cart_table_item" id="artwork_@item.artworkId">

										<td class="product-thumbnail" style="padding:5px;">
											<a href="@Url.Action("Index", "ShopDetail",new{id = item.artworkId})">
												<img src="@item.Image" style="width:100%;" class="attachment-shop_thumbnail wp-post-image" alt="T_7_front" />
											</a>
										</td>

										<td class="product-name">
											<h6><a href="@Url.Action("Index", "ShopDetail",new{id = item.artworkId})">@item.Title</a></h6>
										</td>

										<td class="product-subtotal">
											<span class="amount"><i class=""></i> @item.Price VND</span>
										</td>

										<td class="product-status">
											@switch (item.Status)
											{
												case ArtWorkStatus.PendingConfirmation:
													{
														<span class="">Pending Confirmation</span>
														break;
													}

												case ArtWorkStatus.InProgress:
													{
														<span class="">In Progress</span>
														break;
													}

												case ArtWorkStatus.Sold:
													{
														<span class="">Sold</span>
														break;
													}
												default:
													{
														<span class="">Pending Confirmation</span>
														break;
													}
											}
										</td>

										<td class="product-status" style="padding:0px;">
											@if (item.Status == ArtWorkStatus.InProgress)
											{
												<a id="checkoutButtonDisable" class="dt-sc-button medium type2 with-icon" href="#">
													<i class="fa fa-shopping-cart"></i> <span>In process</span>
												</a>
											}
											else
											{
												<a id="checkoutButton" class="dt-sc-button medium type2 with-icon" href="/Cart/CheckOut?artworkId=@item.artworkId">
													<i class="fa fa-shopping-cart"></i> <span>Proceed to Checkout</span>
												</a>
											}
										</td>

										<td class="product-remove">
											@if (item.Status == ArtWorkStatus.InProgress)
											{
												<a href="#" class="remove" title="Remove this item"></a>
											}
											else
											{
												<a href="#" class="remove" title="Remove this item" id="removeButton" onclick="deleteProduct(@item.artworkId)">&times;</a>
											}
										</td>
									</tr>
								}
							</tbody>
						</table>
						<input type="submit" class="button" name="continue" value="Continue Shopping">
					</form>
				}
			} else
			{
				<h2>No item in cart!</h2>
			}
			<div class="cart-collaterals">
				<div class="cart_totals">
					<h3>Cart Totals</h3>
					<table>
						<tbody>
							<tr class="shipping">
								<th>Shipping</th>
								<td>Free Shipping<input type="hidden" name="shipping_method" id="shipping_method" value="free_shipping" /></td>
							</tr>
							<tr class="total">
								<th>Order Price Total</th>
								<td><strong><span class="amount"><i class="fa fa-gbp"></i>@ViewBag.TotalPrice</span></strong></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="dt-sc-hr-invisible-small"></div>
</section>

<script>
	function deleteProduct(artworkId) {
		console.log(artworkId)
		// Send an AJAX request to delete the product from the cart
		fetch('/Cart/DeleteArtwork/' + artworkId, {
			method: 'DELETE'
		})
			.then(response => {
				// Check if the request was successful
				if (response.ok) {
					// Remove the product from the cart display
					var productElement = document.getElementById('artwork_' + artworkId);
					if (productElement) {
						productElement.remove();
					}

					// Set focus to the cart container element
					var cartContainer = document.getElementById('cartContainer');
					if (cartContainer) {
						cartContainer.focus();
					}
				} else {
					console.error('Failed to delete product');
				}
			})
			.catch(error => {
				console.error('Error:', error);
			});
	}

	// function updateProduct(artworkIdInput) {
	// 	console.log(artworkIdInput);

	// 	// Send a POST request to the controller action
	// 	$.ajax({
	// 		type: 'POST',
	// 		url: '/Cart/CheckOut', // Adjust the URL to match your controller action
	// 		contentType: 'application/json',
	// 		data: JSON.stringify({ artworkId: artworkIdInput }), // Pass the artwork ID to the controller action
	// 		success: function (response) {
	// 			console.log(response);
	// 			// Handle success if needed
	// 		},
	// 		error: function (xhr, status, error) {
	// 			console.error(xhr.responseText);
	// 			// Handle error if needed
	// 		}
	// 	});
	// }
	function formatCurrency(amount) {
		return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ".");
	}
	var amountElements = document.getElementsByClassName("amount");
	for (var i = 0; i < amountElements.length; i++) {
		var amountText = amountElements[i].textContent;
		var amount = parseFloat(amountText);
		if (!isNaN(amount)) {
			amountElements[i].textContent = formatCurrency(amount) + " VND";
		}
	}
</script>