@model ProfileModel
@{
	ViewData["Title"] = "Profile Page";
}
<style>
	/* CSS để ẩn popup ban đầu */
	.popupComment {
		display: none;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		background-color: white;
		padding: 20px;
		border: 1px solid #ccc;
		box-shadow: 0 2px 5px rgba(0,0,0,0.5);
		max-width: 80%;
		max-height: 80%;
		overflow-y: auto;
	}

	/* CSS để style button */
</style>
<section id="primary" class="content-full-width">
	<div class="container">
		<div class="profile">
			<div class="profile-header">
				<img src="https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg" alt="Background Image" class="background-image">
				<img src="~/images/profile.png" alt="Avatar" class="avatar">
				<h1 class="name">@Model.FirstName @Model.LastName</h1>				
				<div class="profile-details">
					<div class="additional-info">
						<p>Birthday: @Model.Birthday</p> <p>Email: @Model.Email</p>
					</div>
				</div>
			</div>
				@foreach (var item in Model.artworks)
				{
				<div class="product-container">
					<a href="@Url.Action("Index", "ShopDetail",new{id = item.artworkId})">
						<div class="product-thumb"> <img src="@item.Image"/> </div>
					</a>
					<div class="product-details">
						<h3 class="product-title">@item.Title</h3>
						<p class="product-price">@item.Price VND</p>
						<p class="product-price">@item.Description</p>
						<div class="product-actions">
							<button class="product-like">
								<img src="~/images/like.png" width="15px"/>
								<span class="like-text">Like</span>

								<span class="like-count">@item.likeNumber</span> <!-- Example for displaying like count -->
							</button>
							<button class="product-comment" onclick="openPopup()">
								<img src="~/images/comment.png" width="15px" />
								<span class="comment-text">Comment</span>
								<span class="comment-count">@item.commentNumber</span> <!-- Example for displaying comment count -->
							</button>
						</div>
					</div>
				</div>
				}			
		</div>
	</div>
	@* ----------------POPUP COMMENT---------------- *@
	<div id="popupComment" class="popupComment">
		<h2>Danh sách Comment</h2>
		<ul id="commentList">
			<li>NGU VỪA THÔI</li>
		</ul>
		<button onclick="closePopup()">Đóng</button>
	</div>

</section>
<script>
	document.addEventListener("DOMContentLoaded", function () {
		var sliderContainer = document.getElementById("slider-container");
		if (sliderContainer) {
			sliderContainer.parentNode.removeChild(sliderContainer);
		}
	});
	function openPopup() {
		var popup = document.getElementById("popupComment");
		popup.style.display = "block";
	}

	// Function để đóng popup
	function closePopup() {
		var popup = document.getElementById("popupComment");
		popup.style.display = "none";
	}
</script>

