@model HomeModel

@{
    ViewData["Title"] = "Shop Page";
}
<section id="primary" class="content-full-width">
    <div class="container">
        <div class="main-title animate" data-animation="pullDown" data-delay="100">
            <h3> Shop </h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>
        <!-- Button -->
        <a class="dt-sc-button small type2" id="openModalBtn">Post Artwork</a><div class="clear"> </div>
        <!-- Modal -->
        <div class="modal" tabindex="-1" id="PostModal">
            <div class="modal-dialog modal-lg modal-dialog-scrollable">
                <div class="modal-content" style="background: #333">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel" style="color: white; font: bold">Modal title</h5>
                    </div>
                    <div class="modal-body">
                        <form action="/PostArtwork/_Post" method="post">
                            <div class="mb-3">
                                <label for="title" class="col-form-label" style="color: white; font: bold">Title:</label>
                                <input type="text" style="background: #252525; color:white" class="form-control" name="title" id="title">
                            </div>
                            <div class="mb-3">
                                <label for="description" class="col-form-label" style="color: white; font: bold">Description:</label>
                                <textarea name="description" id="description" class="form-control" style="height:150px;background:#252525;color:white"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="price" class="col-form-label" style="color: white; font: bold">Price:</label>
                                <input type="text" style="background: #252525;color:white" class="form-control" name="price" id="price">
                                <div id="priceValidationMessage" style="color: red; display: none;">Please enter a valid number.</div>
                            </div>
                            <div class="mb-3">
                                <label for="category" class="col-form-label" style="color: white; font: bold">Select Item:</label>
                                <select class="form-select" style="background: #252525; color: white;" id="category" name="category">
                                    @foreach(var item in Model.CategoryList)
                                    {
                                        <option value="@item.Id" style="background: #252525; color: white;">@item.Name</option>
                                    })
                                    <option value="other" style="background: #252525; color: white;">Other</option>
                                </select>
                            </div>
                            <div class="mb-3" id="customItemDiv" style="display: none;">
                                <label for="categoryCustom" class="col-form-label" style="color: white; font: bold">Custom Item:</label>
                                <input type="text" class="form-control" style="background: #252525;color:white" id="categoryCustom" name="categoryCustom" placeholder="Enter custom item">
                            </div>
                            <div class="mb-3">
                                <label for="image" class="col-form-label" style="color: white; font: bold">Image:</label>
                                <div class="profile-picture" id="image" style="margin:auto;background:#252525; background-size:cover;">
                                    <h1 class="upload-icon">
                                        <i class="fa fa-plus fa-2x" aria-hidden="true"></i>
                                    </h1>
                                    <input class="file-uploader"
                                           type="file"
                                           name="image"
                                           onchange="upload()"
                                           accept="image/*" />
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="closeModalBtn" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="postBtn">Post</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="fullwidth-section shop-grid">
        <div class="sorting-products">
            <div class="dt-sc-one-fifth column first">
                <div class="categories">
                    <h5>Categories</h5>
                    <div class="selection-box">
                        <select class="shop-dropdown" id="_selectCategory" onchange="selectCategory()">
                            <option value="-1" selected>Choose your category</option>
                            @foreach (var item in Model.CategoryList)
                            {
                                <option value="@item.Id" class="fa fa-fire-extinguisher">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="dt-sc-one-fifth column">
                <div class="categories">
                    <h5>Sort By</h5>
                    <div  class="selection-box">
                        <select class="shop-dropdown" id="_sortBy" onchange="sortBy()">
                            <option value="-1" selected>Sort by</option>
                            <option value="1" class="fa fa-mortar-board">Popular Artist</option>
                            <option value="2" class="fa fa-thumb-tack">Price</option>
                            <option value="3" class="fa fa-child">New Artist</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="dt-sc-three-fifth column">
                <div class="Search">
                    <h5>Search</h5>
                    <div novalidate="novalidate" id="searchform">
                        <p class="input-text">
                            <input id="txtSearch" class="input-field" style="height:52px; color: white" />
                            <label class="input-label">
                                <i class="fa fa-search icon"></i>
                            </label>
                            <input type="button" id="myButton" class="submit" value="Search" style="height:52px" />
                        </p>
                    </div>
                </div>
            </div>

            
        </div>
        @if (ViewBag.DupplicateId != null) {
        <div id="popupMessage" onclick="hidePopup()">
            <div class="popup-content">
                <div class="column dt-sc-one-half space animate" >
                    <div class="dt-sc-info-box aligncenter">
                        <span></span>
                        <h4> Info </h4>
                        <b>
                            @{
                                string duplicationArtwork = ViewBag.DupplicateId as string;
                            }
                            <p>@duplicationArtwork</p>
                        </b>
                    </div>
                </div>
            </div>
        </div>
        }
        

        <div id="listIndex">
            <ul class="products isotope">
                @foreach (var item in Model.ArtworkList)
                {
                    <li class="product-wrapper dt-sc-one-fifth">
                        <div class="product-container">
                            <a href="@Url.Action("Index", "ShopDetail",new{id = item.artworkId})"><div class="product-thumb"> <img src="@item.Image" style=" height:300px" /> </div> </a>
                            <div class="product-title">
                                @* <a href="#" class="type1 dt-sc-button addToCartLink" data-artwork-id="@item.artworkId">
                                    <span class="fa fa-shopping-cart"></span> Add to Cart
                                </a> *@
                                <a href="/Cart/AddToCart?id=@item.artworkId" class="type1 dt-sc-button ">
                                    <span class="fa fa-shopping-cart"></span> Add to Cart
                                </a>
                                <a href="#" class="type1 dt-sc-button"> <span class="fa fa-unlink"></span> Options </a>
                                <p>@item.Description</p>
                            </div>
                        </div>
                        <div class="product-details">
                            <h5> <a href="shop-detail.html"> @item.Title </a> </h5>
                            <span class="amount"> $@item.Price </span>
                        </div>
                    </li>
                }
            </ul>
        </div>
        <div id="artworkList"></div>

        <div class="container">
            <div class="dt-sc-post-pagination">
                <a class="dt-sc-button small type3 with-icon prev-post" id="btnPre"> <span> Previous </span> <i class="fa fa-hand-o-left"> </i> </a>
                <a class="dt-sc-button small type3 with-icon next-post" id="btnNext"><i class="fa fa-hand-o-right"> </i> <span> Next </span> </a>
            </div>
        </div>
        <input type="hidden" id="currentPage" value="@ViewBag.CurrentPage" />
        <input type="hidden" id="totalPages" value="@ViewBag.TotalPages" />
    </div>
</section>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    var button = document.getElementById("myButton");
    button.addEventListener("click", function () {
        $.ajax({
            url: '@Url.Action("_searchArtwork", "Shop")',
            type: 'GET',
            data: { txtSearch: $("#txtSearch").val(), idCategory: $("#_selectCategory").val() },
            success: function (data) {




                // // Xóa tất cả các liên kết CSS
                // $('head link[rel="stylesheet"]').remove();

                // // Tạo lại từng liên kết CSS
                // createCssLink("/style.css");
                // createCssLink("/css/animations.css");
                // createCssLink("/css/shortcodes.css");
                // createCssLink("/skins/red/style.css");
                // createCssLink("/css/isotope.css");
                // createCssLink("/css/prettyPhoto.css");
                // createCssLink("/css/responsive.css");
                // createCssLink("/dark/dark.css");
                // createCssLink("/css/font-awesome.min.css");


                $('#listIndex').empty();
                $('#artworkList').empty();
                $("#artworkList").html(data);
            }
        });
    });
    // // Hàm để tạo lại một liên kết CSS
    // function createCssLink(href) {
    //     var link = document.createElement("link");
    //     link.rel = "stylesheet";
    //     link.href = href;
    //     document.head.appendChild(link);
    // }

    //function selectCategory() {
    function selectCategory() {
        var selectValue = $("#_selectCategory").val();
        $.ajax({
            url: '@Url.Action("_searchArtwork", "Shop")',
            type: 'GET',
            data: { txtSearch: $("#txtSearch").val(), idCategory: $("#_selectCategory").val() },
            success: function (data) {
                $('#listIndex').empty();
                $('#artworkList').empty();
                $("#artworkList").html(data);
            }
        });
    }
    function sortBy() {
        var selectValue = $("#_sortBy").val();
        $.ajax({
            url: '@Url.Action("_searchArtwork", "Shop")',
            type: 'GET',
            data: { txtSearch: $("#txtSearch").val(), idCategory: $("#_selectCategory").val(), sortBy: $("#_sortBy").val() },
            success: function (data) {
                $('#listIndex').empty();
                $('#artworkList').empty();
                $("#artworkList").html(data);
            }
        });
    }
    var btnPre = document.getElementById("btnPre");
    btnPre.addEventListener("click", function () {
        var currentPage = parseInt($('#currentPage').val());
        if (currentPage > 1) {
            $.ajax({
                url: '@Url.Action("_searchArtwork", "Shop")',
                type: 'GET',
                data: {
                    txtSearch: $("#txtSearch").val(),
                    idCategory: $("#_selectCategory").val(),
                    sortBy: $("#_sortBy").val(),
                    page: currentPage - 1
                },
                success: function (data) {
                    $('#listIndex').empty();
                    $('#artworkList').empty();
                    $('#artworkList').html(data);
                    $('#currentPage').val(page);
                }
            });
        }
    });
    var btnNext = document.getElementById("btnNext");
    btnNext.addEventListener("click", function () {
        var currentPage = parseInt($('#currentPage').val());
        var totalPages = parseInt($('#totalPages').val());
        if (currentPage < totalPages) {
            $.ajax({
                url: '@Url.Action("_searchArtwork", "Shop")',
                type: 'GET',
                data: {
                    txtSearch: $("#txtSearch").val(),
                    idCategory: $("#_selectCategory").val(),
                    sortBy: $("#_sortBy").val(),
                    page: currentPage + 1
                },
                success: function (data) {
                    $('#listIndex').empty();
                    $('#artworkList').empty();
                    $('#artworkList').html(data);
                    $('#currentPage').val(currentPage + 1);
                }
            });
        }
    });

    document.querySelectorAll(".addToCartLink").forEach(function (link) {
        link.addEventListener("click", function (event) {
            event.preventDefault(); // Prevent the default behavior of the anchor tag

            // Retrieve the artworkId from the data attribute of the clicked anchor tag
            var artworkId = this.getAttribute("data-artwork-id");

            // Create a form element
            var form = document.createElement("form");
            form.setAttribute("method", "post");
            form.setAttribute("action", "/Cart/AddToCart"); // Set the action to the URL of your Razor Page and the name of the action method

            // Create a hidden input field to pass the 'id' parameter
            var idInput = document.createElement("input");
            idInput.setAttribute("type", "hidden");
            idInput.setAttribute("name", "id");
            idInput.setAttribute("value", artworkId); // Set the value of the 'id' parameter to the retrieved artworkId
            form.appendChild(idInput);

            // Append the form to the document body and submit it
            document.body.appendChild(form);
            form.submit();
        });
    });

    setTimeout(function () {
        var popupMessage = document.getElementById('popupMessage');
        popupMessage.parentNode.removeChild(popupMessage);
    }, 10000); // 3000 milliseconds = 3 seconds

    function hidePopup() {
        var popupMessage = document.getElementById('popupMessage');
        popupMessage.parentNode.removeChild(popupMessage);
    }

</script>

